.demandbox{
    width: 100%;
}
.demandbox li{
    float: left;
    width: 500px;
    padding-top:30px;
}
.explainBox{
    padding-right: 200px;
}
.explainBox h1{
    font-size: 16px;
    margin:0 !important;
    line-height: 30px;
}
.explainBox p{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
    display: inline-block;
}
.distanceCost{
    display: none;
    margin-left:80px;
}
.distance{
    font-size: 16px;
    line-height: 35px;
}
.distance span,.distance em,.distance b{
    font-size: 20px;
}
.allmap{
    padding:0 80px;
    margin-bottom: 30px;
    margin-top:30px;
    display: none;
}
#allmap{height:800px;width:100%;}
#r-result,#r-result table{width:100%;}
.input_w{
    padding:0 12px !important;
}
img{
    width: auto;
}
