target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.class
*.iml
.idea_modules/
# IntelliJ
/out/
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws
/yh-common/mlh-common (1).iml
/yh-common/yh-common.iml
/yh-demo/yh-demo-server/yh-demo-server.iml
/yh-demo/yh-demo.iml
/yh-frame.iml
/yh-tool/yh-tool.iml
/yh-maven/yh-maven.iml
