.input_w{
  max-width:140px;
  padding:0 12px !important;
}
.buttom_w{
  max-width:298px;
  text-align:center;
  text-indent: 0px !important;
  cursor:pointer;
  color: #000;
  width:248px !important;
}
/* .province_box{
  position: relative;
} */
.province{
  background: #fff;
  position: absolute;
  top:215px;
  right: 20px;
  border:solid 1px #333;
  display: none;
  z-index: 2;
  width: 40%;
}
.province dl{
  margin:10px !important;
  display: inline-block;
  width: 100%;
}
.province dd{
  line-height: 30px;
  height: 30px;
  font-size: 14px;
  width: 100%;
}
.province dd em.overstriking{
  font-weight:bold;
  font-size:16px;
}
.province dd em{
  float: left;
  display: inline-block;
  padding:0 5px;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
  font-size:13px;
}
.province a{
  font-size:12px;
  color: #000;
}
.main_form{
  padding:0 10px;
  display: none;
  margin:0 50px;
}
.fomr_top{
  font-size:16px;
  line-height: 70px;
}

.fomr_data{
  width:1332px;
}
.fomr_mr{
  border-right: none !important;
}

.table {
  padding:8px;
  border: 1px solid #ddd;
}
.folder{
  height: 40px;
  border:solid 1px #ccc;
  background: #fff;
  text-align: center;
  display: none;
  position:absolute;
  top:0;
  left:150px;
  border-radius:5px;
  min-width: 430px;
}
.a-upload {
  padding: 10px 30px;
  position: relative;
  cursor: pointer;
  color: #888;
  /* background: #fafafa; */
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float:left;
}

.a-upload  input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;

}

/* .a-upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none
} */
.folder button{
  display: block;
  margin:0 auto;
  float:right;
  margin-top:2px;
}
.folder_uploading{
  background: #3c8dbc !important;
  color: #fff !important;
  border:solid 1px #ddd;
  border-radius: 3px;
  margin-left: 50px !important;
}
.folder_uploading:hover{
  background: #3c8dbc !important;
  color: #666;
}
.folder_cancel{
  float:right !important;
  margin-right:5px !important;
  margin-left:5px !important;
}

.sort{
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  zoom: 1;
  z-index: auto;
}
.sort img{
  width:15px;
  height:20px;
  display: block;
}
.box-body a{
  margin:0 5px;
  padding:5px;
}
.box-body_on{
  overflow-x: scroll;
  overflow: hidden;
  overflow-x: auto;
  width: 1336px;
  margin: 0 auto;
}
body{
  max-height:100% !important;
}

.excelDiv{
	margin:0 auto;
	margin-top:30px;
	width:100%;
}
.excelStoll{
	margin:0 50px;
	overflow-y:auto;
	/*overflow:hidden;*/
	height:450px;
}
.excelStoll a{
	cursor:pointer;
}

.table td{
  position: relative;
  vertical-align: middle !important;
  text-align: center;
}
.tabel_td{
  width: 220px;
}
.rank{
  position:absolute;
  top: -1px;
  left:-1px;
  z-index: 2;
  background: #fff;
  width: 100%;
  display: none;
}
.rank ul{
  display: block;
  border:solid 1px #ddd;
  border-bottom: none;
}
.rank li{
  width: 100%;
  line-height:30px;
  font-size: 12px;
  padding:0 8px;
  border-bottom:solid 1px #ddd;
}
.rank li:hover{
  color: #f00;

}

