.input_w{
  width:102px !important;
  padding:0 12px !important;
}
.buttom_w{
  width:180px !important;
  text-align:center;
  text-indent: 0px !important;
  cursor:pointer;
  color: #000;
}
.province_box{
  position: relative;
}
.province{
  background: #fff;
  position: absolute;
  top:50px;
  left: 0;
  border:solid 1px #333;
  display: none;
  z-index: 2;
  width: 100%;
}
.province dl{
  margin:10px !important;
  display: inline-block;
  width: 100%;
}
.province dd{
  line-height: 30px;
  height: 30px;
  font-size: 14px;
  width: 100%;
}
.province dd em.overstriking{
  font-weight:bold;
}
.province dd em{
  float: left;
  display: inline-block;
  padding:0 5px;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
}
.province a{
  font-size:12px;
  color: #000;
}
.main_form{
  padding:0 10px;
  display: none;
}
.fomr_top{
  font-size:16px;
  line-height: 70px;
}

.fomr_data{
  width:1332px;
}
.fomr_mr{
  border-right: none !important;
}

.table {
  padding:8px;
  border: 1px solid #ddd;
}
.folder{
  position: absolute;
  top:0;
  left:130px;
  width: 460px;
  height: 200px;
  border:solid 1px #ccc;
  background: #fff;
  text-align: center;
  display: none;
}
.a-upload {
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  color: #888;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-top:60px;
}

.a-upload  input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;

}

.a-upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none
}
.folder button{
  display: block;
  margin:0 auto;
  margin-top:20px;
}

.sort{
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
  float: right;
  zoom: 1;
  z-index: auto;
}
.sort img{
  width:15px;
  height:20px;
  display: block;
}
.box-body a{
  margin:0 5px;
}
body{
  height:100% !important;
}
.excel{
  display: none;

}