$folat_left:left;
$clear:both;
$ul_type:none;
$body_color:#000;
$body_background:#fff;
$body_font:12px;
$body_famliy:Arial,宋体;
.clear{clear:$clear;}
ul{
  list-style-type: $ul_type;
}
.projectRegion{
  height: 70px;
  width:100%;
    label{
      width: 150px;
      display: inline-block;
      line-height: 40px;
      text-align: right;
      float: $folat_left;
    }
  input{
    width: 300px;
    float: $folat_left;
    display: inline-block;
    font-size: $body_font;
    line-height: 40px;
    height: 40px;
  }
  .botton{
    margin-left: 150px;
    width:300px;
  }
}