<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean class="com.palm.vertx.mongo.config.MongoConfig">
		<property name="url" value="${mongodb.url}"></property>
		<property name="port" value="${mongodb.port}" ></property>
		<property name="dbname" value="${mongodb.dbname}"></property>
		<property name="account" value="${mongodb.account}"></property>
		<property name="passwd" value="${mongodb.passwd}"></property>
	</bean>

	<!--<context:component-scan base-package="com.palm.mlh.mongo.client">
	</context:component-scan>-->
</beans>